apiVersion: velero.io/v1
kind: Restore
metadata:
  name: postgres-persistent
  namespace: {{ velero_namespace }}
spec:
  backupName: postgres-persistent
  excludedResources:
  - nodes
  - events
  - events.events.k8s.io
  - backups.velero.io
  - restores.velero.io
  - resticrepositories.velero.io
  restorePVs: true
