apiVersion: velero.io/v1
kind: Backup
metadata:
  name: postgres-persistent
  labels:
    velero.io/storage-location: default
  namespace: {{ velero_namespace }}
spec:
  hooks: {}
  includedNamespaces:
    - postgresql-persistent
  storageLocation: default
  ttl: 720h0m0s

