apiVersion: velero.io/v1
kind: Restore
metadata:
  name: cassandra
  namespace: "{{ velero_namespace }}"
spec:
  backupName: "{{ backup_name }}"
  excludedResources:
    - nodes
    - events
    - events.events.k8s.io
    - backups.velero.io
    - restores.velero.io
    - resticrepositories.velero.io
  restorePVs: true