apiVersion: velero.io/v1
kind: Restore
metadata:
  name: cassandra
  namespace: velero
spec:
  backupName: cassandra
  excludedResources:
    - nodes
    - events
    - events.events.k8s.io
    - backups.velero.io
    - restores.velero.io
    - resticrepositories.velero.io
  restorePVs: true